/*Basic*/
body {
  font-family: Roboto, sans-serif;
  background: var(--white);
  color: var(--slate);
}
:root {
  --font-family: Roboto, sans-serif;
  --background: #fff;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --white: #fff;
  --slate: #434455;
  --cloud: #f4f4fd;
  --white: #fff;
  --navyblue: #2e2f42;
  --cornflower: #e7e9fc;
  --lightslate: #8e8f99;
  --grean: #31d0aa;
}
.link {
  text-decoration: none;
}
a {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
li {
  display: inline-block;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
input,
button {
  font-family: inherit;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.container {
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* Header */
@media screen and (max-width: 767.98px) {
  .nav-list {
    display: none;
  }

  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 24px;
  }
}
.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.logo-studio {
  color: var(--navyblue);
}
.header-logo {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.menu-icon {
  stroke: #2e2f42;
}
/* tablet */

@media screen and (min-width: 768px) {
  .header .container {
    display: flex;
    align-items: center;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .header-logo {
    margin-right: 120px;
  }
  .nav-link {
    display: block;
    color: var(--navyblue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover,
  .nav-link:focus {
    color: var(--ocean);
  }
  .nav-link:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--ocean);
    bottom: -25px;
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover:after,
  .nav-link:focus::after,
  .nav-link.current::after {
    transform-origin: left;
    transform: scaleX(1);
  }
  .nav-link.current {
    color: var(--ocean);
  }
  .address {
    margin-left: auto;
  }
  .address .nav-list {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
  .address:hover {
    color: var(--iris);
  }
  .contact {
    display: block;
    font-weight: 400;
    color: var(--slate);
    font-style: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact:hover,
  .contact:focus {
    color: var(--ocean);
  }
}
@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
/* desktop */
@media screen and (min-width: 1158px) {
  .nav-link:after {
    bottom: -2px;
  }
  .nav-link {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .address {
  }
  .address .nav-list {
    flex-direction: row;
    gap: 40px;
  }
  .contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/*Hero*/
.hero {
  max-width: 428px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bgmobile1x.jpg);
  background-color: var(--navyblue);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 112px 0;
  background-position: center;
}
.main-section-title {
  margin: 0 auto 72px;
  display: block;
  max-width: 320px;
  color: var(--white);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.button-service {
  background: var(--iris);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-service:hover,
.button-service:focus {
  background-color: var(--ocean);
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bgmobile2x.jpg);
  }
}
/* tablet */
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bgtablet1x.jpg);
  }
  .main-section-title {
    margin: 0 auto 36px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bgtablet2x.jpg);
  }
}

/* desktop */
@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bkdesktop1x.jpg);
  }
  .main-section-title {
    margin: 0 auto 48px;
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bkdesktop2x.jpg);
  }
}
/* section 2 */

section {
  padding: 96px 0;
}
.title {
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 72px;
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.04em;
  text-align: center;
}

.advantages-title {
  margin-bottom: 8px;
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.04em;
  text-align: center;
}
.about-advantages {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--slate);
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767.98px) {
  .advantages-item:not(:last-child) {
    margin-bottom: 72px;
  }
}
@media screen and (max-width: 1157.98px) {
  .svg-box {
    display: none;
  }
}
/* tablet */
@media screen and (min-width: 768px) {
  .section .list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .advantages-title {
    text-align: start;
  }
  .advantages-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
/* desktop */
@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
  .advantages-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .about-advantages {
    font-weight: 400;
  }
  .advantages-item {
    flex-basis: calc((100% - 24px * 3) / 4);
  }
  .svg-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    width: 264px;
    border-radius: 4px;
    margin-bottom: 8px;
    background: var(--cloud);
  }
}
/* section 3 */
@media screen and (max-width: 1157.98px) {
  .section-work {
    display: none;
  }
}
/* desktop */
@media screen and (min-width: 1158px) {
  .section-work {
    padding: 0;
    padding-bottom: 120px;
  }
  .work-items {
    display: flex;
    gap: 24px;
  }
  .work-image {
    flex-basis: calc((100% - 48px) / 3);
  }
}
/* section 4  */
.team-list {
  background: var(--cloud);
  padding-top: 96px;
  padding-bottom: 96px;
}
.team-items {
  text-align: center;
}

.text {
  border-radius: 0px 0px 4px 4px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.team {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.name {
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
}
.post {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-align: center;
}
.team-items-socials {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}
.social-box {
  width: 40px;
  height: 40px;
}
.socials-link {
  background-color: var(--iris);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--cloud);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--ocean);
}
.socials-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}
@media screen and (max-width: 767.98px) {
  .team:not(:last-child) {
    margin-bottom: 72px;
  }
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .team-list .container {
    max-width: 584px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .team-items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
  .team {
    flex-basis: calc((100% - 24px) / 2);
  }
}
/* desktop */
@media screen and (min-width: 1158px) {
  .team-list {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-items {
    display: flex;
    gap: 24px;
  }
  .team {
    flex-basis: calc((100% - 24px * 3) / 4);
  }
}
/* section 5 */
.customers {
  padding-bottom: 96px;
  padding-top: 96px;
}
.customers-items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
  justify-content: center;
  align-items: center;
}

.customer-item {
  display: flex;
  flex-basis: calc((100% - 16px) / 2);
  height: 88px;
  width: 190px;
  position: relative;
}
.customers-link {
  display: flex;
  color: var(--lightslate);
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  width: 100%;
  height: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  color: var(--ocean);
  border-color: var(--ocean);
}
.icon-customers {
  fill: currentColor;
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .customers .container {
    max-width: 584px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .customer-item {
    flex-basis: calc((100% - 24px * 2) / 3);
  }

  .customers-items {
    column-gap: 24px;
  }
}

/* desktop */
@media screen and (min-width: 1158px) {
  .customers {
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .customers-items {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
  }
  .customer-item {
    flex-basis: calc((100% - 24px * 5) / 6);
  }
}
/* footer */
.footer {
  background: var(--navyblue);
  padding: 96px 0;
}
.footer .container {
  margin: 0 auto;
  padding: 0 16px;
}
.footer-logo {
  margin-bottom: 72px;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.proposition {
  color: var(--cloud);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 268px;
}
.span-studio-footer {
  color: var(--cloud);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.logo-link-footer {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
  text-align: center;
}

.social-media-box {
  margin-bottom: 72px;
}
.social-media-title {
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}
.social-box {
  width: 40px;
  height: 40px;
}
.footer-socials-link {
  background-color: var(--iris);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--cloud);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--grean);
}
.footer-social-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer-socials-icon {
  fill: currentColor;
}
.label-text {
  margin-bottom: 16px;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
}
.form-lable {
  margin-bottom: 16px;
}
.form-input {
  color: #fff;
  padding: 8px;
  padding-left: 16px;
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: transparent;
  border-radius: 4px;
  border: 1px solid var(--white);
  font-family: inherit;
  outline: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
  border-color: var(--iris);
}
input::placeholder {
  color: var(--white);
}
.form-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 165px;
  max-height: 40px;
  margin: 0 auto;
  padding: 8px 24px;
  color: var(--white);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border-radius: 4px;
  background: var(--iris);
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background-color: var(--ocean);
}
.svg-button {
  fill: currentColor;
  margin-left: 16px;
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .footer .container {
    max-width: 584px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
}
@media screen and (min-width: 768px) {
  .footer-logo {
    text-align: start;
  }
  .social-media-title {
    text-align: start;
  }
  .footer-logo {
    align-items: start;
  }
  .form-input {
    width: 264px;
    margin-bottom: 0;
  }
  .form {
    flex-direction: row;
    gap: 16px;
  }
  .label-text {
    text-align: start;
  }
}
/* desktop */
@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .footer .container {
    display: flex;
    align-items: baseline;
    text-align: start;
  }
  .social-media-box {
    margin-bottom: 0;
  }
  .footer-logo {
    margin-right: 120px;
    margin-bottom: 0;
  }
  .form {
    display: flex;
    flex-direction: row;
  }
  .footer-social-items {
    margin-right: 80px;
  }
}
/* mobile menu */
.menu-toggle {
  min-height: 22px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu-toggle-close {
  display: flex;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--cornflower);
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--white, #fff);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.mobile {
  min-width: 328px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 35px 40px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.menu-container.is-open {
  transform: translateX(0);
}
.mobile-menu {
  margin-bottom: auto;
}
.mobile-menu-link.current {
  color: var(--ocean);
}
.mobile-menu-item {
  display: block;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-link {
  display: block;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--light-cl);
}
.mobile-menu-link:active {
  color: var(--ocean, #404bbf);
}
@media (hover: hover) {
  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: var(--ocean, #404bbf);
  }
}
.menu-address-list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 48px;
}
.mobile-menu-phone {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--iris);
}

.mobile-menu-mail {
  color: var(--slate, #434455);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.mobile-menu-phone:active,
.mobile-menu-mail:active {
  color: var(--ocean, #404bbf);
}
@media (hover: hover) {
  .mobile-menu-phone:hover,
  .mobile-menu-phone:focus {
    color: var(--ocean, #404bbf);
  }
  .mobile-menu-mail:hover,
  .mobile-menu-mail:focus {
    color: var(--ocean, #404bbf);
  }
}
.mobile-menu-socials {
  display: inline-flex;
  align-items: flex-start;
  gap: 56px;
}
@media screen and (max-width: 427.98px) {
  .mobile-menu-phone {
    font-size: 24px;
  }
  .mobile-menu-socials {
    gap: 25px;
  }
}
/* modal window */
.modal {
  width: 408px;
  min-height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
}
@media (max-width: 428px) {
  .modal {
    width: 90%;
  }
}
.modal-close {
  display: flex;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--cornflower);
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
  border: none;
  background-color: var(--ocean);
  fill: var(--white);
}
.modal-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-tittle {
  color: var(--navyblue);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.form-wrapper {
  margin-bottom: 8px;
}
.form-name-lable {
  display: block;
  margin-bottom: 4px;
  color: var(--lightslate);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.48px;
  line-height: 1.17;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  outline: transparent;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: var(--iris);
}
.modal-form-input:focus + svg {
  fill: var(--iris);
}
.input-container {
  position: relative;
}

.input-container-svg {
  position: absolute;
  fill: var(--navyblue);
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-container-svg:focus {
  fill: var(--iris);
}
.form-textarea {
  margin-bottom: 16px;
}
.comment-form {
  display: block;
  height: 120px;
  width: 100%;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  padding: 8px 16px;
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-form::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
}
.comment-form:focus {
  border-color: var(--iris);
  color: black;
}
.check-box-container {
  margin-bottom: 24px;
}
.check-text {
  display: block;
  color: var(--lightslate);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.48px;
  line-height: 1.17;
}

.check-input:checked + .check-text .check-box {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}
.check-box {
  display: inline-flex;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agreement-link {
  color: var(--iris);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}
.modal-form-btn {
  background: var(--iris);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:focus,
.modal-form-btn:hover {
  background-color: var(--ocean);
}
/*portfolio*/

/*header*/
.header-list {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.main-title {
  color: var(--navyblue);
}
.button-item {
  color: var(--iris);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background: var(--cloud);
  font-family: 'Roboto', sans-serif;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item:hover,
.button-item:focus {
  background: var(--ocean);
  color: var(--white);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-list {
  list-style: none;
}

.proposition {
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
}

.header-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.span-studio-footer {
  color: var(--cloud);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.logo-link-footer {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
}

.btn {
  display: flex;
  margin-bottom: 72px;
  gap: 24px;
  justify-content: center;
}

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.card-portfolio {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.filling-card {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 24px * 2) / 3);
  align-content: flex-start;
  border-top: none;
}
.card-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  background-color: var(--iris);
  color: var(--cloud);
  font-family: sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-overlay {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-overlay:hover .overlay,
.img-overlay:focus .overlay {
  transform: translateY(0);
}
.img-overlay:hover,
.img-overlay:focus {
  box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0);
}

.card-text {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}
.position {
  border-top: none;
  margin-bottom: 8px;
}

.social-media-title {
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
