/*Basic*/
body {
  font-family: Roboto, sans-serif;
  background: var(--white);
  color: var(--slate);
}
:root {
  --font-family: Roboto, sans-serif;
  --background: #fff;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --white: #fff;
  --slate: #434455;
  --cloud: #f4f4fd;
  --white: #fff;
  --navyblue: #2e2f42;
  --cornflower: #e7e9fc;
  --lightslate: #8e8f99;
  --grean: #31d0aa;
}
.link {
  text-decoration: none;
}
a {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
li {
  display: inline-block;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
input,
button {
  font-family: inherit;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/*Header*/
.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.header .list {
  display: flex;
  gap: 40px;
}
.header-logo {
  margin-right: 76px;
}

.nav-link {
  display: block;
  color: var(--navyblue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}
.nav-link:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--ocean);
  bottom: -1px;
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover:after,
.nav-link:focus::after,
.nav-link.current::after {
  transform-origin: left;
  transform: scaleX(1);
}
.nav-link.current {
  color: var(--ocean);
}

.logo-studio {
  color: var(--navyblue);
}
.header-logo {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.address {
  font-style: normal;
  margin-left: auto;
}
.address:hover {
  color: var(--iris);
}
.contact {
  display: block;
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover,
.contact:focus {
  color: var(--ocean);
}
/*Hero*/
.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people.jpg);
  background-color: var(--navyblue);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 188px 0;
  background-position: center;
}
.main-section-title {
  margin-right: auto;
  margin-left: auto;

  display: block;
  max-width: 496px;
  margin-bottom: 48px;
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-family: 'Roboto', sans-serif;
}
.button-service {
  background: var(--iris);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-service:hover,
.button-service:focus {
  background-color: var(--ocean);
}
/*Modal*/
.modal {
  width: 408px;
  min-height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
}

.modal-close {
  display: flex;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--cornflower);
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
  border: none;
  background-color: var(--ocean);
  fill: var(--white);
}
.modal-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-tittle {
  color: var(--navyblue);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.form-wrapper {
  margin-bottom: 8px;
}
.form-name-lable {
  display: block;
  margin-bottom: 4px;
  color: var(--lightslate);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.48px;
  line-height: 1.17;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  outline: transparent;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: var(--iris);
}
.modal-form-input:focus + svg {
  fill: var(--iris);
}
.input-container {
  position: relative;
}

.input-container-svg {
  position: absolute;
  fill: var(--navyblue);
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-container-svg:focus {
  fill: var(--iris);
}
.form-textarea {
  margin-bottom: 16px;
}
.comment-form {
  display: block;
  height: 120px;
  width: 100%;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  padding: 8px 16px;
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-form::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
}
.comment-form:focus {
  border-color: var(--iris);
  color: black;
}
.check-box-container {
  margin-bottom: 24px;
}
.check-text {
  display: block;
  color: var(--lightslate);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.48px;
  line-height: 1.17;
}

.check-input:checked + .check-text .check-box {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.check-box {
  display: inline-flex;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-link {
  color: var(--iris);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}
.modal-form-btn {
  background: var(--iris);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:focus,
.modal-form-btn:hover {
  background-color: var(--ocean);
}
/*Section 2*/
.section {
  padding: 120px 0;
}
.title {
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 72px;
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.section .list {
  display: flex;
  gap: 24px;
}
.advantages-item {
  flex-basis: calc((100% - 24px * 3) / 4);
}
.svg-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  width: 264px;
  border-radius: 4px;
  margin-bottom: 8px;
  background: var(--cloud);
}
.advantages-title {
  margin-bottom: 8px;
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.about-advantages {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
  letter-spacing: 0.02em;
}
/*section 3*/
.section-work {
  padding-bottom: 120px;
}
.work-items {
  display: flex;
  gap: 24px;
}
.work-image {
  flex-basis: calc((100% - 48px) / 3);
}
/*section 4*/
.team-list {
  background: var(--cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-items {
  display: flex;
  gap: 24px;
}
.text {
  border-radius: 0px 0px 4px 4px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.team {
  background-color: var(--white);
  flex-basis: calc((100% - 24px * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.name {
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
}
.post {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-align: center;
}
.team-items-socials {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}
.social-box {
  width: 40px;
  height: 40px;
}
.socials-link {
  background-color: var(--iris);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--cloud);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--ocean);
}
.socials-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}
/*section 5*/
.customers {
  padding-bottom: 120px;
  padding-top: 120px;
}
.customer-item {
  display: flex;
  flex-basis: calc((100% - 24px * 5) / 6);
  height: 88px;
  position: relative;
}
.customers-items {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.customers-link {
  display: flex;
  color: var(--lightslate);
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  width: 100%;
  height: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  color: var(--ocean);
  border-color: var(--ocean);
}
.icon-customers {
  fill: currentColor;
}
/*footer*/
.footer {
  background: var(--navyblue);
  padding: 100px 0;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  display: block;
  margin-right: 120px;
}
.footer-social-items {
  display: flex;
  gap: 16px;
}
.footer-socials-icon {
  height: 24px;
  width: 24px;
  fill: currentColor;
}
.footer-socials-link {
  background-color: var(--iris);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--cloud);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--grean);
}

.form-footer {
  margin-right: auto;
  margin-left: 80px;
}
.form {
  display: flex;
  gap: 24px;
  align-items: center;
}
.form-label {
  display: flex;
  flex-direction: column;
}
.form-input {
  color: #fff;
  padding: 8px;
  padding-left: 16px;
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: transparent;
  border-radius: 4px;
  border: 1px solid var(--white);
  font-family: inherit;
  outline: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
  border-color: var(--iris);
}
.label-text {
  margin-bottom: 16px;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.form-input::placeholder {
  color: var(--white);
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.48px;
}
.form-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  max-height: 40px;
  margin-top: auto;
  padding: 8px 24px;
  color: var(--white, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border-radius: 4px;
  background: var(--iris);
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background-color: var(--ocean);
}

.svg-button {
  fill: currentColor;
  margin-left: 16px;
}
/*portfolio*/

/*header*/
.header-list {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.main-title {
  color: var(--navyblue);
}
.button-item {
  color: var(--iris);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background: var(--cloud);
  font-family: 'Roboto', sans-serif;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item:hover,
.button-item:focus {
  background: var(--ocean);
  color: var(--white);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-list {
  list-style: none;
}

.proposition {
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;

  max-width: 264px;
}

.header-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.span-studio-footer {
  color: var(--cloud);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.logo-link-footer {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
}

.btn {
  display: flex;
  margin-bottom: 72px;
  gap: 24px;
  justify-content: center;
}

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.card-portfolio {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.filling-card {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 24px * 2) / 3);
  align-content: flex-start;
  border-top: none;
}
.card-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  background-color: var(--iris);
  color: var(--cloud);
  font-family: sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-overlay {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-overlay:hover .overlay,
.img-overlay:focus .overlay {
  transform: translateY(0);
}
.img-overlay:hover,
.img-overlay:focus {
  box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0);
}

.card-text {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}
.position {
  border-top: none;
  margin-bottom: 8px;
}

.social-media-title {
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
